---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">About Me</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
I'm a recent graduate from the Bachelor of Comp Sci. Mobile Computing program from <a href="https://academics.sheridancollege.ca/programs/bachelor-computer-science-mobile-computing">Sheridan College</a>
<br></br>
I have worked with an array of programming languages as well as multiple IDE's. My capstone work was focused primarily on iOS, however I am happy working with any platform.
<br></br>
I have spent a fair amount of time with AI/Machine learning through my research work (just under a year of studies/work) as well as Quality Assurance through my internship work.
<br></br>
For some of the work I have done please check out my <a href="/portfolio/">expierences page</a>. For information on how to contact me please check out my <a href="/contact/">Contact Info</a>page.
